.foot {
    height: 360px;
    background-color: var(--themeBackgroundColor);
    border: 1px solid #08090a;
  }
  .foot .foot-content {
    display: flex;
    align-items: center;
  }
  .foot .foot-content .foot-map {
    width: 540px;
    height: 285px;
    border-radius: 10px;
    background-color: #fdfdfd;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 55px;
  }
  .foot .foot-content .foot-map .map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .foot .foot-content .foot-links {
    width: 450px;
    height: 284px;
    padding-top: 37px;
  }
  .foot .foot-content .foot-links h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .foot .foot-content .foot-links ul {
    width: 100%;
    height: 172px;
    padding-left: 20px;
  }
  .foot .foot-content .foot-links ul li {
    list-style-type: disc;
    height: 35px;
    font-size: 14px;
    color: #757575;
  }
  .foot .foot-content .foot-links ul li span {
    font-size: 16px;
  }
  .foot .foot-content .foot-WeChat {
    width: 266px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    padding-bottom: 70px;
  }
  .foot .foot-content .foot-WeChat .code-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
  }
  .foot .foot-content .foot-WeChat .code-left p {
    margin-bottom: 15px;
  }
  .foot .foot-content .foot-WeChat .code-left img {
    width: 100px;
    height: 100px;
  }
  .foot .foot-content .foot-WeChat .code-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .foot .foot-content .foot-WeChat .code-right p {
    margin-bottom: 15px;
  }
  .foot .foot-content .foot-WeChat .code-right img {
    width: 100px;
    height: 100px;
  }
  .foot .foot-content .go-top {
    width: 50px;
    height: 50px;
    background-color: #252525;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 50px;
  }
  .foot .copyright {
    color: #757575;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  