.header {
  height: 96px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #3b3b3b;
}
.header .header-content {
  display: flex;
  margin: 0 auto;
}
.header .header-content .header-logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-content .head-nav {
  width: 70%;
  height: 100%;
}
.header .header-content .head-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .header-content .head-nav ul li {
  height: 100%;
  display: flex;
  width: 13%;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}
.header .header-content .head-nav ul li a {
  width: 80%;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
}
.header .header-content .head-nav ul li a:hover {
  border: 2px solid #404040;
  border-radius: 20px;
}
.header .header-content .header-call {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.header .header-content .header-call p {
  font-size: 1em;
}
.header .header-content .header-call h2 {
  font-weight: normal;
  font-size: 1.8em;
}
.header .headNavActive {
  background: linear-gradient(to right, #3359ac, #1ba3d9);
}
.content {
  width: 100%;
}
.content .content-school,
.content .content-javaEE,
.content .content-ui {
  border: 1px solid #050505;
  margin-bottom: 26px;
  background-color: var(--themeBackgroundColor);
  height: 364px;
}
.content .content-school .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-school .school .school-text h2 {
  font-size: 100px;
  font-weight: normal;
  position: relative;
}
.content .content-school .school .school-text p {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
}
.content .content-school .school .school-text p span {
  margin-right: 50px;
}
.content-javaEE .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-javaEE .school .javaEE-explain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-javaEE .school .javaEE-explain .zero {
  font-size: 18px;
}
.content-javaEE .school .javaEE-explain .zero span {
  margin-right: 40px;
}
.content-javaEE .school .javaEE-explain h2 {
  font-size: 126px;
  line-height: 100%;
}
.content-javaEE .school .javaEE-explain .advantage {
  font-size: 72px;
  font-weight: normal;
  position: relative;
}
.content-javaEE .school .javaEE-explain .advantage::after {
  content: "大课程优势";
  font-size: 72px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #363636;
  filter: blur(6px);
  opacity: 0.6;
}
.content-javaEE .school .javaEE-explain .advantage span {
  font-weight: 600;
  font-size: 106px;
  line-height: 100%;
}
.content-javaEE .school .javaEE-explain h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.content-ui .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-ui .school .ui-design {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-ui .school .ui-design > li:nth-last-child(2) {
  margin: 20px 0;
}
.content-ui .school .ui-design > li h3 {
  font-weight: normal;
  font-size: 24px;
}
.content-ui .school .ui-design > li h2 {
  font-weight: normal;
  font-size: 84px;
}
.content-ui .school .ui-design > li h4 {
  font-weight: normal;
  font-size: 26px;
}
.content-ui .school .ui-design > li span {
  font-size: 20px;
  position: relative;
}
.content-ui .school .ui-design > li span::after {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50%;
  top: 50%;
}
.content-ui .school .ui-design > li span::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -50%;
  top: 50%;
}
.content-ui .school .ui-design > li ul li {
  padding: 5px 18px;
  font-size: 16px;
  float: left;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 0px 20px;
  background-color: #484848;
}
.content-curriculum {
  border: 1px solid #050505;
  background-color: var(--themeBackgroundColor);
  height: 550px;
}
.content-curriculum .curriculum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content-curriculum .curriculum .curriculum-introduce {
  width: 95%;
  height: 65%;
  background-color: #424242;
  margin: 0 auto;
  display: flex;
  border-radius: 15px;
  position: relative;
}
.content-curriculum .curriculum .curriculum-introduce::after {
  content: " ";
  width: 98%;
  height: 2px;
  background: linear-gradient(to right, #12b1e4, #2e5fbb);
  position: absolute;
  top: 0;
  left: 10px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java .java-title {
  height: 40%;
  width: 80%;
  border-bottom: 1px solid #525252;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java .java-title h2 {
  font-size: 38px;
  font-weight: normal;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java .java-title p {
  font-size: 28px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java .java-content {
  border-top: 1px solid #252525;
  height: 60%;
  width: 80%;
  padding-top: 20px;
  z-index: 100;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java .java-content span {
  font-size: 18px;
  color: #ececec;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java {
  position: relative;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java::after {
  content: " ";
  width: 1px;
  height: 80%;
  background-color: #252525;
  position: absolute;
  right: 0;
  top: 40px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-java > p {
  font-size: 120px;
  position: absolute;
  bottom: -25px;
  right: -3px;
  color: #515050;
  opacity: 0.9;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-UI::before {
  content: " ";
  width: 1px;
  height: 80%;
  background-color: #505050;
  position: absolute;
  left: 0;
  top: 40px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-WEB::before {
  content: " ";
  width: 1px;
  height: 80%;
  background-color: #505050;
  position: absolute;
  left: 0;
  top: 40px;
}
.content-curriculum .curriculum .curriculum-introduce .curriculum-WEB::after {
  display: none;
}
.content-curriculum .curriculum .curriculum-nav {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-curriculum .curriculum .curriculum-nav ul {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-curriculum .curriculum .curriculum-nav ul li {
  height: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.content-curriculum .curriculum .curriculum-nav ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  font-size: 16px;
  border: 1px solid #cecece;
  border-radius: 25px;
  background-color: #484848;
}
.content-chicken-soup {
  width: 100%;
  height: 622px;
  border-bottom: 4px solid #1b1b1b;
}
.content-chicken-soup .chicken-soup {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.content-chicken-soup .chicken-soup .circle-outside {
  width: 100%;
  height: 1400px;
  border-radius: 50%;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text h2 {
  font-size: 34px;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text h3 {
  font-size: 28px;
  font-weight: normal;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text ul {
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text ul::after {
  content: " ";
  width: 45px;
  height: 2px;
  background-image: linear-gradient(to right, #315faf, #1ca0d7);
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text ul li {
  font-size: 16px;
  color: #7b7b7b;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text ul li:nth-child(3) {
  margin-bottom: 20px;
}
.content-chicken-soup .chicken-soup .circle-outside .circle2 .chicken-soup-text > p {
  font-size: 16px;
  font-weight: 600;
}
.title-text,
.theSchool-titile-top {
  width: 380px;
  position: relative;
  text-align: center;
}
.title-text::after,
.theSchool-titile-top::after {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
}
.title-text::before,
.theSchool-titile-top::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
}
.title-text h2,
.theSchool-titile-top h2 {
  font-size: 32px;
  font-weight: normal;
}
.title-text p,
.theSchool-titile-top p {
  font-size: 12px;
  color: #279aca;
  text-align: center;
}
.content-news {
  height: 645px;
}
.content-news .school-news .school-news-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-news .school-news .school-news-content {
  height: 70%;
  display: flex;
}
.content-news .school-news .school-news-content .school-news-left {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-news .school-news .school-news-content .school-news-left .new-data {
  height: 33.3%;
  width: 90%;
  display: flex;
}
.content-news .school-news .school-news-content .school-news-left .new-data .box {
  width: 13%;
  height: 80%;
  background-color: #fff;
  margin-right: 40px;
}
.content-news .school-news .school-news-content .school-news-left .new-data .news-data-text {
  height: 100%;
  border-top: 1px solid #454545;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-news .school-news .school-news-content .school-news-left .new-data .news-data-text .news-text-left {
  height: 80%;
  width: 80%;
  font-size: 16px;
}
.content-news .school-news .school-news-content .school-news-left .new-data .news-data-text .news-text-left h2 {
  font-size: 16px;
  font-weight: normal;
}
.content-news .school-news .school-news-content .school-news-left .new-data .news-data-text .news-text-left > p {
  color: #757575;
}
.content-news .school-news .school-news-content .school-news-left .new-data .news-data-text .new-time {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
}
.content-news .school-news .school-news-content .school-news-photo {
  width: 40%;
  height: 80%;
}
.content-news .school-news .school-news-content .school-news-photo .news-photo {
  height: 80%;
  background-color: antiquewhite;
}
.content-news .school-news .school-news-content .school-news-photo p {
  height: 20%;
  font-size: 20px;
  color: #333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.content-theSchool {
  height: 607px;
  background-color: var(--themeBackgroundColor);
}
.content-theSchool .theSchool {
  height: 100%;
  position: relative;
}
.content-theSchool .theSchool::after {
  content: " ";
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, rgba(50, 86, 150, 0) 0%, rgba(50, 86, 150, 0.2) 10%, rgba(50, 86, 150, 0.6) 20%, rgba(50, 86, 150, 0.8) 30%, rgba(50, 86, 150, 0.9) 40%, rgba(38, 144, 189, 0.9) 50%, rgba(38, 144, 189, 0.8) 60%, rgba(38, 144, 189, 0.6) 70%, rgba(38, 144, 189, 0.3) 80%, rgba(38, 144, 189, 0.2) 90%, rgba(38, 144, 189, 0) 100%);
  position: absolute;
  top: 0px;
}
.content-theSchool .theSchool .theSchool-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-theSchool .theSchool .theSchool-title .theSchool-title-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-theSchool .theSchool .theSchool-title .theSchool-title-text .theSchool-titile-top {
  margin-bottom: 20px;
}
.content-theSchool .theSchool .theSchool-title .theSchool-title-text .theSchool-title-bottom {
  width: 85%;
  font-size: 16px;
}
.content-theSchool .theSchool .theSchool-content {
  height: 70%;
  display: flex;
}
.content-theSchool .theSchool .theSchool-content .theSchool-content-photo {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-theSchool .theSchool .theSchool-content .theSchool-content-photo .box2 {
  width: 324px;
  height: 324px;
  background-color: #fff;
  margin-bottom: 10px;
}
.content-theSchool .theSchool .theSchool-content .theSchool-content-photo p {
  font-size: 16px;
}
.content-pusi-familiar {
  height: 662px;
}
.content-pusi-familiar .pusi-familiar {
  height: 100%;
}
.content-pusi-familiar .pusi-familiar .pusi-familiar-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-pusi-familiar .pusi-familiar .pusi-family-swiper {
  height: 70%;
  display: flex;
}
.content-registration-process {
  height: 600px;
  background-color: var(--themeBackgroundColor);
  border: 1px solid #000000;
}
.content-registration-process .registration-process {
  height: 100%;
}
.content-registration-process .registration-process .registration-process-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-registration-process .registration-process .registration-process-form {
  height: 80%;
  display: flex;
  justify-content: center;
}
.content-registration-process .registration-process .registration-process-form .form-left {
  width: 30%;
}
.content-registration-process .registration-process .registration-process-form .form-left .form-left-start {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
.content-registration-process .registration-process .registration-process-form .form-left .form-left-start p {
  font-size: 14px;
}
.content-registration-process .registration-process .registration-process-form .form-left .form-left-start h2 {
  font-size: 46px;
}
.content-registration-process .registration-process .registration-process-form .form-left .form-left-start::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 3px;
  background: linear-gradient(135deg, transparent, transparent 45%, #fff, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #fff, transparent 55%, transparent 100%);
  background-size: 0.5em 0.5em;
  background-repeat: repeat-x, repeat-x;
}
.content-registration-process .registration-process .registration-process-form .form-left h3 {
  font-size: 18px;
  font-weight: normal;
}
.content-registration-process .registration-process .registration-process-form .point-to {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}
.content-registration-process .registration-process .registration-process-form .form-right {
  width: 30%;
  display: flex;
  justify-content: center;
}
.content-registration-process .registration-process .registration-process-form .form-right form {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  background-color: #4a4a4a;
  box-shadow: 0px 18px 8px rgba(37, 37, 37, 0.5);
}
.content-registration-process .registration-process .registration-process-form .form-right form .form-title {
  height: 15%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-user-message {
  height: 15%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 14px;
  border-top: 1px solid #c2c2c2;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-user-message span {
  width: 10%;
  font-size: 22px;
  color: #666666;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-user-message .qq-number {
  display: inline-block;
  width: 12px;
  height: 14px;
  border: 1px solid #666;
  border-bottom: 2px solid #666;
  margin: 0 18px 0 5px;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-user-message input {
  width: 90%;
  color: #fff;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-user-message input::-webkit-input-placeholder {
  color: #ecebeb;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject {
  position: relative;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject input {
  width: 85%;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject .openSelect {
  width: 5%;
  height: 50%;
  position: relative;
  cursor: pointer;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject .openSelect::after {
  content: " ";
  width: 2px;
  position: absolute;
  left: 25%;
  bottom: 10%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #aaa;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject ul {
  display: none;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 10px;
  transform: translateY(100%) translateX(50%);
  padding: 0 20px;
  background-color: #666;
  box-shadow: 0 0 5px #333;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject ul li {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject ul li:last-child {
  border: none;
}
.content-registration-process .registration-process .registration-process-form .form-right form .get-subject ul li:hover {
  opacity: 0.5;
}
.content-registration-process .registration-process .registration-process-form .form-right form .confirm {
  height: 25%;
  border-top: 1px solid #c2c2c2;
  padding: 10px;
  font-size: 14px;
  color: #919191;
}
.content-registration-process .registration-process .registration-process-form .form-right form .confirm span {
  display: block;
  margin-bottom: 10px;
}
.content-registration-process .registration-process .registration-process-form .form-right form .confirm button {
  width: 100px;
  height: 30px;
  background: linear-gradient(to right, #325bad, #1ca1d8);
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
}
.content-abount-us {
  height: 761px;
}
.content-abount-us .abount-us .abount-us-title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.content-abount-us .abount-us #certify {
  height: 75%;
  position: relative;
  margin: 0 auto;
}
.content-abount-us .abount-us #certify .swiper-slide {
  width: 744px;
  height: 516px;
}
.content-abount-us .abount-us #certify .swiper-slide video {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.content-abount-us .abount-us #certify .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.content-abount-us .abount-us #certify .banner_page {
  margin: 20px auto;
  left: 0;
  right: 0;
}
.content-abount-us .abount-us #certify .banner_page span {
  margin: 0 10px;
}
.content-abount-us .abount-us #certify h2 {
  text-align: center;
}
.content-abount-us .abount-us #certify .swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 8px;
}
.foot {
  height: 360px;
  background-color: var(--themeBackgroundColor);
  border: 1px solid #08090a;
}
.foot .foot-content {
  display: flex;
  align-items: center;
}
.foot .foot-content .foot-map {
  width: 540px;
  height: 285px;
  border-radius: 10px;
  background-color: #fdfdfd;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 55px;
}
.foot .foot-content .foot-map #map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #ededed;
}
.foot .foot-content .foot-links {
  width: 450px;
  height: 284px;
  padding-top: 37px;
}
.foot .foot-content .foot-links h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.foot .foot-content .foot-links ul {
  width: 100%;
  height: 172px;
  padding-left: 20px;
}
.foot .foot-content .foot-links ul li {
  list-style-type: disc;
  height: 35px;
  font-size: 14px;
  color: #757575;
}
.foot .foot-content .foot-links ul li span {
  font-size: 16px;
}
.foot .foot-content .foot-WeChat {
  width: 266px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  padding-bottom: 70px;
}
.foot .foot-content .foot-WeChat .code-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.foot .foot-content .foot-WeChat .code-left p {
  margin-bottom: 15px;
}
.foot .foot-content .foot-WeChat .code-left img {
  width: 100px;
  height: 100px;
}
.foot .foot-content .foot-WeChat .code-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.foot .foot-content .foot-WeChat .code-right p {
  margin-bottom: 15px;
}
.foot .foot-content .foot-WeChat .code-right img {
  width: 100px;
  height: 100px;
}
.foot .foot-content .go-top {
  width: 45px;
  height: 45px;
  background-color: #000;
  border-radius: 50%;
  position: fixed;
  bottom: 150px;
  right: 50px;
  text-align: center;
  line-height: 45px;
  transform: rotate(180deg);
  font-size: 20px;
}
.foot .copyright {
  color: #757575;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
