.header {
  height: 96px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #3b3b3b;
}
.header .header-content {
  display: flex;
  margin: 0 auto;
}
.header .header-content .header-logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-content .head-nav {
  width: 70%;
  height: 100%;
}
.header .header-content .head-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .header-content .head-nav ul li {
  height: 100%;
  display: flex;
  width: 13%;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}
.header .header-content .head-nav ul li a {
  width: 80%;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
}
.header .header-content .head-nav ul li a:hover {
  border: 2px solid #404040;
  border-radius: 20px;
}
.header .header-content .header-call {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.header .header-content .header-call p {
  font-size: 1em;
}
.header .header-content .header-call h2 {
  font-weight: normal;
  font-size: 1.8em;
}
.content .content-school,
.content .content-javaEE,
.content .content-ui {
  border: 1px solid #050505;
  margin-bottom: 26px;
  background-color: var(--themeBackgroundColor);
  height: 364px;
}
.content .content-school .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-school .school .school-text p {
  font-size: 36px;
}
.content .content-school .school .school-text p:nth-child(1) {
  font-size: 100px;
}
.content .content-school .school .school-text p:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.content .content-school .school .school-text p:nth-child(2) span {
  font-weight: 100;
}
.content .content-school .school .school-text p:nth-child(2) span:nth-child(1) {
  padding-left: 10px;
}
.content .content-school .school .school-text p:nth-child(2) span:nth-child(2) {
  padding-right: 10px;
}
.content .content-javaEE .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-javaEE .school .javaEE-explain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content-javaEE .school .javaEE-explain .zero {
  font-size: 18px;
}
.content .content-javaEE .school .javaEE-explain .zero span {
  margin-right: 40px;
}
.content .content-javaEE .school .javaEE-explain h2 {
  font-size: 126px;
  line-height: 100%;
}
.content .content-javaEE .school .javaEE-explain .advantage {
  font-size: 72px;
  font-weight: normal;
  position: relative;
}
.content .content-javaEE .school .javaEE-explain .advantage::after {
  content: "大课程优势";
  font-size: 72px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #363636;
  filter: blur(6px);
  opacity: 0.6;
}
.content .content-javaEE .school .javaEE-explain .advantage span {
  font-weight: 600;
  font-size: 106px;
  line-height: 100%;
}
.content .content-javaEE .school .javaEE-explain h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.content .content-ui .school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-ui .school .ui-design {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-ui .school .ui-design > li:nth-last-child(2) {
  margin: 20px 0;
}
.content .content-ui .school .ui-design > li h3 {
  font-weight: normal;
  font-size: 24px;
}
.content .content-ui .school .ui-design > li h2 {
  font-weight: normal;
  font-size: 84px;
}
.content .content-ui .school .ui-design > li h4 {
  font-weight: normal;
  font-size: 26px;
}
.content .content-ui .school .ui-design > li span {
  font-size: 20px;
  position: relative;
}
.content .content-ui .school .ui-design > li span::after {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: -50%;
  top: 50%;
}
.content .content-ui .school .ui-design > li span::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -50%;
  top: 50%;
}
.content .content-ui .school .ui-design > li ul li {
  padding: 5px 18px;
  font-size: 16px;
  float: left;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 0px 20px;
  background-color: #484848;
}
.content .dynamic-news {
  margin-bottom: 70px;
}
.content .dynamic-news .news {
  margin: 0 auto;
}
.content .dynamic-news .news .news-title {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #535353;
  position: relative;
}
.content .dynamic-news .news .news-title .news-title-content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-left {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 10px 10px;
  position: relative;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-left::after {
  content: " ";
  width: 1px;
  height: 55%;
  background: linear-gradient(to bottom, #1d9edf, #325cae);
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-left h2 {
  font-size: 36px;
  font-weight: normal;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-left p {
  font-size: 20px;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-nav {
  flex: 1;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-nav .title-nav {
  height: 23%;
  display: flex;
  align-items: center;
  font-size: 17px;
  padding: 0 35px;
  background-color: #3a3a3a;
  border: 1px solid #fff;
  margin-right: 15px;
  border-radius: 20px;
  cursor: pointer;
}
.content .dynamic-news .news .news-title .news-title-content .news-title-nav .newsNavActive {
  background: linear-gradient(to right, #1d9edf, #325cae);
  border: none;
}
.content .dynamic-news .news .news-list {
  width: 100%;
  border-bottom: 1px solid #535353;
  position: relative;
}
.content .dynamic-news .news .news-list .news-list-content {
  width: 85%;
  display: flex;
  margin: 0 auto;
}
.content .dynamic-news .news .news-list .news-list-content .list-time {
  width: 25%;
  display: flex;
  padding-top: 50px;
}
.content .dynamic-news .news .news-list .news-list-content .list-time .list-time-icon {
  display: inline-block;
  width: 50px;
  font-size: 50px;
  margin-top: 35px;
}
.content .dynamic-news .news .news-list .news-list-content .list-time .list-time-date {
  margin-left: 10px;
}
.content .dynamic-news .news .news-list .news-list-content .list-time .list-time-date h2 {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.content .dynamic-news .news .news-list .news-list-content .list-time .list-time-date h2 span {
  font-size: 25px;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.content .dynamic-news .news .news-list .news-list-content .list-right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
.content .dynamic-news .news .news-list .news-list-content .list-right h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}
.content .dynamic-news .news .news-list .news-list-content .list-right .list-right-text {
  font-size: 20px;
  color: #f5f5f5;
}
.foot {
  height: 360px;
  background-color: var(--themeBackgroundColor);
  border: 1px solid #08090a;
}
.foot .foot-content {
  display: flex;
  align-items: center;
}
.foot .foot-content .foot-map {
  width: 540px;
  height: 285px;
  border-radius: 10px;
  background-color: #fdfdfd;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 55px;
}
.foot .foot-content .foot-map .map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.foot .foot-content .foot-links {
  width: 450px;
  height: 284px;
  padding-top: 37px;
}
.foot .foot-content .foot-links h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.foot .foot-content .foot-links ul {
  width: 100%;
  height: 172px;
  padding-left: 20px;
}
.foot .foot-content .foot-links ul li {
  list-style-type: disc;
  height: 35px;
  font-size: 14px;
  color: #757575;
}
.foot .foot-content .foot-links ul li span {
  font-size: 16px;
}
.foot .foot-content .foot-WeChat {
  width: 266px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  padding-bottom: 70px;
}
.foot .foot-content .foot-WeChat .code-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.foot .foot-content .foot-WeChat .code-left p {
  margin-bottom: 15px;
}
.foot .foot-content .foot-WeChat .code-left img {
  width: 100px;
  height: 100px;
}
.foot .foot-content .foot-WeChat .code-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.foot .foot-content .foot-WeChat .code-right p {
  margin-bottom: 15px;
}
.foot .foot-content .foot-WeChat .code-right img {
  width: 100px;
  height: 100px;
}
.foot .foot-content .go-top {
  width: 50px;
  height: 50px;
  background-color: #252525;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 50px;
}
.foot .copyright {
  color: #757575;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
