<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/abounUs.css">
</head>
<script src="../js/jquery.js"></script>
<body>
    <!-- 头部logo，导航，联系电话 -->
    <header class="header">
        <div class="header-content banxin">
            <h1 class="header-logo">
                <img src="../images/logo.jpg" alt="">
            </h1>
            <div class="head-nav">
                <ul>
                    <li><a class="btn" href="#">首页</a></li>
                    <li><a class="btn" href="#">课程介绍</a></li>
                    <li><a class="btn" href="#">校园新闻</a></li>
                    <li><a class="btn" href="#">师资力量</a></li>
                    <li><a class="btn" href="#">学校风采</a></li>
                    <li><a class="btn" href="#">报名流程</a></li>
                    <li><a class="btn" href="#">关于我们</a></li>
                </ul>
            </div>
            <div class="header-call">
                <p>教育热线</p>
                <h2>400-1581-881</h2>
            </div>
        </div>
    </header>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <p>璞思学院</p>
                    <p><span>传道受业</span><span>德行天下</span></p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <p class="zero"><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                    <h2>JavaEE</h2>
                    <p class="advantage"><span>4</span>大课程优势</p>
                    <h3>让你成为中高端人才</h3>
                    <p>MAKE&nbsp;YOU&nbsp;A&nbsp;MID-TO-HIGH-END&nbsp;TALENT</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <ul class="ui-design">
                    <li>
                        <h3>全链路UI3.0,分阶段学习，因材施教</h3>
                    </li>
                    <li>
                        <h2>5步缔造顶尖UI设计师</h2>
                    </li>
                    <li>
                        <h4>突破职场瓶颈，升职加薪不是梦</h4>
                    </li>
                    <li><span>先培训后就业 进入名企拿高薪</span></li>
                    <li>
                        <ul>
                            <li>多元化服务</li>
                            <li>一对一辅导</li>
                            <li>小班授课</li>
                            <li>总监级到时倾心相授</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 学校宗旨 -->
        <div class="school-purpose">
            <div class="purpose">
                <div class="purpose-left">
                    <div class="purpose-text">
                        <div class="purpose-title">
                            <h2>传道授业&nbsp;德行天下</h2>
                            <h3>学校办学宗旨</h3>
                        </div>
                        <div class="purpose-content">
                            <span>
                                璞思职业技术学校是福建骠骑网络科技有限公司旗下的职业教育板块，专注于提供最优质的IT教育服务。<br>
                                传道授业，即授之鱼也授之渔，学校通过科学合理的培训课程体系采用高等学徒制，依托企业级真实项目，培养IT精英人才，提供IT工程师成就之路。<br>
                                德行天下，是一种求新通变的“德善”情怀。于世间万物的变化之中以水之智立身行事，不迷失于急功近利，在迂回中积蓄力量，在通变中寻找出路，在前行中练达智慧人生。学校以学生为本，在传道授业过程重视师德，将“德善”情怀渗透到学校的招生、教学等服务之中。
                            </span>
                        </div>
                    </div>
                </div>
                <div class="purpose-photo">

                </div>
            </div>
        </div>
        <!-- 办学目标 -->
        <div class="school-objective">
            <div class="objective banxin">
                <h2>办学目标</h2>
                <div class="objective-text">
                    <span>璞思学校以培养计算机软件开发应用人才为目标，不仅着重培养学员的基础理论知识,更注重岗位技能的培养，</span>
                    <span>并密切关注技术革新,不断引入先进技术,研发更新技术课程,确保学员进入企业后不仅能独立从事开发工作,更能给企业带来新的技术体系和理念。</span>
                    <span>璞思始终秉承"传道授业,德行天下"的初心,以技术视角关注产业发展，以深度分享推进产业技术成长,致力于弘扬技术创新，倡导分享、</span>
                    <span>开放和协作,努力打造高质量的IT人才服务平台</span>
                    <div class="icon">

                    </div>
                </div>
            </div>
        </div>
        <!-- 课程体系 -->
        <div class="school-system">
            <div class="system-content banxin">
                <h2>课程体系</h2>
                <div class="school-system-text">
                    <span>
                        璞思学校积极推动校企深度合作，在就业创业互动、技能竞赛、产研学共建等交流合作，着力打造毕业即就业、
                        创业的职能教育模式。璞思前期开设Java开发、UI设计、Web前端开发培训课程，后续将陆续开展多门课程，如C#、
                        Winform程序设计、Photoshop等课程培训
                    </span>
                </div>
            </div>
        </div>
        <!-- 教学理念，就业保障 -->
        <div class="school-teach-idea">
            <div class="teach-idea banxin">
                <div class="teach-idea-content">
                    <div class="teach-left left-border">
                        <h2>教学理念</h2>
                        <div class="left-text">
                            <span>璞思教育以学生为中心，立足学生的就业需求注重理论+实战相结合的培养模式。以学生就业与
                                个人职业发展规划为出发点，具体理念：
                            </span>
                            <span>
                                1、围绕大中型企业对人才的知识与技能需求架构
                                课程内容体系，聘请总监级导师团队与课程设计
                                专家共同设计课程与日教学安排。<br>
                                2、积极关注最新技术发展与企业发展需求，更新
                                课程内容，引领学生走在时代技术的前沿。<br>
                                3、完善的学习支持服务体系，成就学生学习成长之路。以“导师+助教+班主任”三位一体构建教学服
                                务过程，建立在线学习评测系统、教学反馈系统等，为每一位学生的学习保驾护航
                            </span>
                        </div>
                    </div>
                    <div class="teach-left">
                        <h2>就业保障</h2>
                        <div class="left-text">
                            <span>针对每位学子，璞思教育提供多元化就业渠道，畅通无阻
                            </span>
                            <span>
                                1.通过课程学习考核合格的学员可选择进入骠骑平台就业
                                学校协助学子规划职业发展，同时提供未来发展空间<br>
                                2.璞思学校建立密集的人才推送渠道网，直接对接企业需
                                求培养并推荐对口人才，覆盖包括华为、阿里等企业，以及
                                莆田当地科技类公司，轻松就业有渠道
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 璞思教学楼图片 -->
            <div class="school-photo">

            </div>
        </div>

    </div>
    <!-- 底部位置，招生热线，二维码 -->
    <footer class="foot">
        <div class="foot-content banxin">
            <div class="foot-map">
                <div class="map">

                </div>
            </div>
            <div class="foot-links">
                <h2>全国免费招生热线：400-1581-881</h2>
                <ul>
                    <li><span>客服手机：</span>18020608313</li>
                    <li><span>网址：</span> www.pusiuni.com</li>
                    <li><span>QQ：</span>737358703</li>
                    <li><span>邮箱：</span>pusi@miaohaigou.com</li>
                    <li><span>地址：</span>莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
                </ul>
            </div>
            <div class="foot-WeChat">
                <div class="code-left">
                    <p>关注公众账号</p>
                    <img src="../images/code1.jpg" alt="">
                </div>
                <div class="code-right">
                    <p>了解更多资讯</p>
                    <img src="../images/code2.jpg" alt="">
                </div>
            </div>
            <div class="go-top">

            </div>
        </div>
        <!-- 网站版权信息 -->
        <div class="copyright">
            <p>©&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN</p>
        </div>
    </footer>
</body>

</html>