<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报名流程</title>
    <!-- 标签默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <link rel="stylesheet" href="../css/pageCss/applyCourse.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <iframe id='head' src="./head.html" frameborder="0" height="97px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <iframe id='content-iframe' height='1180px' src="./content.html" frameborder="0" width="100%" frameborder='0'
            marginheight="0px" scrolling='no' style="display:block;"></iframe>
        <!-- 填写预报名 -->
        <div class="forecast-name">
            <div class="forecast-name-content banxin">
                <div class="forecast-title">
                    <h2>填写预报名</h2>
                    <p>FILL IN THE FORECAST NAME</p>
                    <span>您如果想报名参加培训，需要在下方填写个人预报名信息，提交信息后，我们的咨询老师会主动联系您!</span>
                </div>
                <form class="forecast-user-message">
                    <div class="message-input">
                        <span>
                            <img src="../images/name.png" alt="">
                        </span>
                        <input name="userName" type="text" placeholder="真实姓名">
                    </div>
                    <div class="message-input">
                        <span>
                            <img src="../images/xueke.png" alt="">
                        </span>
                        <!-- <input name='subject' type="text" placeholder="所报学科"> -->
                        <p class="subjectValue">所报学科</p>
                        <i class="openSelect"></i>
                        <ul class="subject-select">
                            <li><span>JAVA</span></li>
                            <li><span>UI</span></li>
                            <li><span>WEB</span></li>
                        </ul>
                    </div>
                    <div class="message-input">
                        <span>
                            <img src="../images/phone.png" alt="">
                        </span>
                        <input name="userPhone" type="text" placeholder="手机号码">
                    </div>
                    <div class="message-input">
                        <span>
                            <img src="../images/qq.png" alt="">
                        </span>
                        <input name="userQQ" type="text" placeholder="QQ号码">
                    </div>
                </form>
                <div class="forecast-btn">
                    <h2>开班座位有限，预报名可以优先享有占座权</h2>
                    <span>（ 温馨提示：请保持手机，咨询老师将为您提供专属的一对一报名服务 ）</span>
                    <button>立即报名</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <iframe src="./foot.html" id='foot' frameborder="0" height="490px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="go-top"></div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>
<script>
    $(function () {
    var selectIndex = true;
        function select() {
            let ul = $('.subject-select')
            if (selectIndex) {
                ul.removeClass('closeUl');
                ul.addClass('openUl')
                ul[0].style.display = 'block';
                selectIndex = false;
            } else {
                ul.removeClass('openUl');
                ul.addClass('closeUl');
                setTimeout(() => {
                    ul[0].style.display = 'none';
                }, 100)
                selectIndex = true;
            }

        }
        // 点击弹出下拉框
        $('.openSelect').on('click', function () {
            console.log(123)
            select()
        })
        // 点击弹出下拉框
        $('.subjectValue').on('click', function () {
            select()
        })
        // 点击选择学科
        $('.subject-select li').on('click', function () {
            $('.subjectValue')[0].innerText = $(this)[0].innerText
            select()
        })
    })
</script>

</html>