<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/initialize.css">
    <link rel="stylesheet" href="../css/content.css">
</head>

<body>
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <h2>璞思学院</h2>
                    <p><span>传道受业</span>德行天下</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <ul class="ui-design">
                    <li>
                        <h3>全链路UI3.0，&nbsp;分阶段学习，&nbsp;因材施教</h3>
                    </li>
                    <li>
                        <h2>6步缔造顶尖UI设计师</h2>
                    </li>
                    <li>
                        <h4>突破职场瓶颈，&nbsp;&nbsp;升职加薪不是梦</h4>
                    </li>
                    <li><span>先培训后就业&nbsp;&nbsp;&nbsp;&nbsp;进入名企拿高薪</span></li>
                    <li>
                        <ul>
                            <li>多元化服务</li>
                            <li>一对一辅导</li>
                            <li>小班授课</li>
                            <li>总监级到时倾心相授</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <ul>
                        <li><span>没有基础</span>没有经验如何在职场上脱颖而出</li>
                        <li>
                            <h2>JavaEE</h2>
                        </li>
                        <li>
                            <h3><span>4</span><span>大课程优势</span></h3>
                        </li>
                        <li>
                            <h4>让你成为中高端人才</h4>
                        </li>
                        <li>MAKE&nbsp;YOU&nbsp;A&nbsp;MID-TO-HIGH-END&nbsp;TALENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/jquery.js"></script>
<script>
    localStorage.setItem('iframeHeight',$('.content')[0].clientHeight)
</script>
</html>