<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学校风采</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/environment.css">
</head>
<body>
    <!-- 头部logo，导航，联系电话 -->
    <header class="header">
        <div class="header-content banxin">
            <h1 class="header-logo">
                <a href="./index.html">
                    <img src="../images/logo.jpg" alt="">
                </a>
            </h1>
            <div class="head-nav">
                <ul>
                    <li><a class="btn" href="./index.html">首页</a></li>
                    <li><a class="btn" href="./javaOutLine.html">课程介绍</a></li>
                    <li><a class="btn" href="./news.html">校园新闻</a></li>
                    <li><a class="btn" href="#">师资力量</a></li>
                    <li><a class="btn" href="./environment.html">学校风采</a></li>
                    <li><a class="btn" href="./forecastName.html">报名流程</a></li>
                    <li><a class="btn" href="./abounUs.html">关于我们</a></li>
                </ul>
            </div>
            <div class="header-call">
                <p>教育热线</p>
                <h2>400-1581-881</h2>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <h2>璞思学院</h2>
                    <p><span>传道受业</span>德行天下</p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <p class="zero"><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                    <h2>JavaEE</h2>
                    <p class="advantage"><span>4</span>大课程优势</p>
                    <h3>让你成为中高端人才</h3>
                    <p>MAKE&nbsp;YOU&nbsp;A&nbsp;MID-TO-HIGH-END&nbsp;TALENT</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <ul class="ui-design">
                    <li>
                        <h3>全链路UI3.0,分阶段学习，因材施教</h3>
                    </li>
                    <li>
                        <h2>5步缔造顶尖UI设计师</h2>
                    </li>
                    <li>
                        <h4>突破职场瓶颈，&nbsp;&nbsp;升职加薪不是梦</h4>
                    </li>
                    <li><span>先培训后就业&nbsp;&nbsp;&nbsp;&nbsp;进入名企拿高薪</span></li>
                    <li>
                        <ul>
                            <li>多元化服务</li>
                            <li>一对一辅导</li>
                            <li>小班授课</li>
                            <li>总监级到时倾心相授</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 学校环境 -->
        <div class="environment">
            <!-- 学校风采 -->
            <div class="school-environment">
                <div class="environment-top">
                    <div class="environment-left-photo">
                        <div class="environment-left-title">
                            <h2>学校风采</h2>
                            <p>颜值成长基地</p>
                            <span>学校环境</span>
                        </div>
                        <div class="title-bottom-photo">
                            <img src="../images/xuexiao02.jpg" alt="">
                        </div>
                    </div>
                    <div class="environment-right-photo">
                        <img src="../images/xuexiao01.jpg" alt="">
                    </div>
                </div>
                <div class="environment-bottom">
                    <div class="environment-bottom-photo1">
                        <img src="../images/xuexiao03.jpg" alt="">
                    </div>
                    <div class="environment-bottom-photo2">
                        <img src="../images/xuexiao04.jpg" alt="">
                    </div>
                    <div class="right-text">
                        <div class="right-text-title">
                            <h2>
                                一流的教学设施<br>
                                优雅的学习环境
                            </h2>
                        </div>
                        <div class="title-bottom">
                            璞思教育坐落在莆田市城厢区，是本市
                            首屈一指的互联网前沿科技基础应用教
                            育基地优秀的教学师资一流的教学设施
                            大量的实操课程是您选择璞思的四大理
                            由。
                        </div>
                    </div>
                </div>
            </div>
            <!-- 鸡汤 -->
            <div class="environment-text">
                <h2 class="banxin">
                    其实，梦想才是最奢侈的，并让人心神向往！<br>
                    每提早一天做出决定，就能多24小时改变自己的人生
                </h2>
            </div>
            <!-- 教室环境 -->
            <div class="classroom">
                <div class="classroom-left">
                    <h3>
                        教室环境
                    </h3>
                    <h2>硬核设施</h2>
                    <h2>舒适的环境</h2>
                    <span>
                        璞思教育，立足培养IT精英<br>
                        引领您迎接5G新机遇，教<br>
                        您如何掌握未来
                    </span>
                </div>
                <div class="classroom-right">
                    <div class="classroom-photo">
                        <img src="../images/xuexiao07.jpg" alt="">
                    </div>
                    <div class="classroom-photo">
                        <img src="../images/xuexiao06.jpg" alt="">
                    </div>
                    <div class="classroom-photo">
                        <img src="../images/xuexiao05.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="equipment">
                <div class="equipment-title">
                    <h2>不忘初心，砥砺前行</h2>
                    <p>为莘莘学子改变命运而讲课,为千万学生少走弯路而著书</p>
                </div>
                <div class="equipment-photo">
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao08.jpg" alt="">
                    </div>
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao09.jpg" alt="">
                    </div>
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao10.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <footer class="foot">
        <div class="foot-content banxin">
            <div class="foot-map">
                <div id="map">

                </div>
            </div>
            <div class="foot-links">
                <h2>全国免费招生热线：400-1581-881</h2>
                <ul>
                    <li><span>客服手机：</span>18020608313</li>
                    <li><span>网址：</span> www.pusiuni.com</li>
                    <li><span>QQ：</span>737358703</li>
                    <li><span>邮箱：</span>pusi@miaohaigou.com</li>
                    <li><span>地址：</span>莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
                </ul>
            </div>
            <div class="foot-WeChat">
                <div class="code-left">
                    <p>关注公众账号</p>
                    <img src="../images/code1.jpg" alt="">
                </div>
                <div class="code-right">
                    <p>了解更多资讯</p>
                    <img src="../images/code2.jpg" alt="">
                </div>
            </div>
            <div class="go-top iconfont">&#xe668;</div>
        </div>
        <!-- 网站版权信息 -->
        <div class="copyright">
            <p>©&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN</p>
        </div>
    </footer>
</body>
<script src="../js/jquery.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=vdVIwdPkde2vN1I3SDrRH3Kfo6XnjgPk"></script>
<script src="../js/Map.js"></script>
</html>