<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学校风采</title>
    <!-- 标签默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <link rel="stylesheet" href="../css/pageCss/environment.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <iframe id='head' src="./head.html" frameborder="0" height="97px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="content">
        <iframe id='content-iframe' height='1180px' src="./content.html" frameborder="0" width="100%" frameborder='0'
            marginheight="0px" scrolling='no' style="display:block;"></iframe>

        <!-- 学校环境 -->
        <div class="environment">
            <!-- 学校风采 -->
            <div class="school-environment">
                <div class="environment-top">
                    <div class="environment-left-photo">
                        <div class="environment-left-title">
                            <h2>学校风采</h2>
                            <p>颜值成长基地</p>
                            <span>学校环境</span>
                        </div>
                        <div class="title-bottom-photo">
                            <img src="../images/xuexiao02.jpg" alt="">
                        </div>
                    </div>
                    <div class="environment-right-photo">
                        <img src="../images/xuexiao01.jpg" alt="">
                    </div>
                </div>
                <div class="environment-bottom">
                    <div class="environment-bottom-photo1">
                        <img src="../images/xuexiao03.jpg" alt="">
                    </div>
                    <div class="environment-bottom-photo2">
                        <img src="../images/xuexiao04.jpg" alt="">
                    </div>
                    <div class="right-text">
                        <div class="right-text-title">
                            <h2>
                                一流的教学设施<br>
                                优雅的学习环境
                            </h2>
                        </div>
                        <div class="title-bottom">
                            璞思教育坐落在莆田市城厢区，是本市
                            首屈一指的互联网前沿科技基础应用教
                            育基地优秀的教学师资一流的教学设施
                            大量的实操课程是您选择璞思的四大理
                            由。
                        </div>
                    </div>
                </div>
            </div>
            <!-- 鸡汤 -->
            <div class="environment-text">
                <h2 class="banxin">
                    其实，梦想才是最奢侈的，并让人心神向往！<br>
                    每提早一天做出决定，就能多24小时改变自己的人生
                </h2>
            </div>
            <!-- 教室环境 -->
            <div class="classroom">
                <div class="classroom-left">
                    <h3>
                        教室环境
                    </h3>
                    <h2>硬核设施</h2>
                    <h2>舒适的环境</h2>
                    <span>
                        璞思教育，立足培养IT精英<br>
                        引领您迎接5G新机遇，教<br>
                        您如何掌握未来
                    </span>
                </div>
                <div class="classroom-right">
                    <div class="classroom-photo">
                        <img src="../images/xuexiao07.jpg" alt="">
                    </div>
                    <div class="classroom-photo">
                        <img src="../images/xuexiao06.jpg" alt="">
                    </div>
                    <div class="classroom-photo">
                        <img src="../images/xuexiao05.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="equipment">
                <div class="equipment-title">
                    <h2>不忘初心，砥砺前行</h2>
                    <p>为莘莘学子改变命运而讲课,为千万学生少走弯路而著书</p>
                </div>
                <div class="equipment-photo">
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao08.jpg" alt="">
                    </div>
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao09.jpg" alt="">
                    </div>
                    <div class="equipment-photo-index">
                        <img src="../images/xuexiao10.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <iframe src="./foot.html" id='foot' frameborder="0" height="490px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="go-top"></div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>

</html>