<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<script src="../js/jquery.js"></script>
<script>
    $(function () {
        $(".head").load("/views/header.html");
        $(".footer").load("/views/footer.html");
    })
</script>
<body>
    <!-- 头部logo，导航，联系电话 -->
    <div class="head"></div>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <p>璞思学院</p>
                    <p><span>传道受业</span><span>德行天下</span></p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <p class="zero"><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                    <h2>JavaEE</h2>
                    <p class="advantage"><span>4</span>大课程优势</p>
                    <p>让你成为中高端人才</p>
                    <p>MAKE YOU A MID-TO-HIGH-END TALENT</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <div class="ui-design">
                    <p>全链路UI3.0,分阶段学习，因材施教</p>
                    <h2>5步缔造顶尖UI设计师</h2>
                    <p>突破职场瓶颈，升职加薪不是梦</p>
                    <p>先培训后就业 进入名企拿高薪</p>
                    <p>多元化服务 一对一辅导 小班授课 总监级到时倾心相授</p>
                </div>
            </div>
        </div>
        <!-- 课程 -->
        <div class="content-curriculum">
            <div class="curriculum banxin">
                <div class="curriculum-introduce ">
                    <div class="curriculum-java">
                        <div class="java-title">
                            <h2>JAVA</h2>
                            <p>面向对象编程语言</p>
                        </div>
                        <div class="java-content">
                            <span>
                                在多次调研企业最新应用技术及知识点的基础上，对技术点进行了100+项的增加与优化JDK升级为1.8版本，加入Lambda表达式及其它新特性的讲解引入spring全家桶
                            </span>
                        </div>
                        <p>01</p>
                    </div>
                    <div class="curriculum-java curriculum-UI">
                        <div class="java-title">
                            <h2>UI</h2>
                            <p>打造月薪过万的UI设计师</p>
                        </div>
                        <div class="java-content">
                            <span>
                                全新升级全链路ui3.0，五步缔造顶尖UI设计师，更符合企业对人才的实际需求，顺应互联网时代趋势，综合用户的需求和业务目标
                            </span>
                        </div>
                        <p>02</p>
                    </div>
                    <div class="curriculum-java curriculum-WEB">
                        <div class="java-title">
                            <h2>WEB</h2>
                            <p>前端改变世界</p>
                        </div>
                        <div class="java-content">
                            <span>
                                课程设计之初就对目前企业中最流行的技术及知识点讲过多次调研，整套课程设计完成后，又进一步对课程中的技术点进行了100+项的增加与优化
                            </span>
                        </div>
                        <p>03</p>
                    </div>
                </div>
                <div class="curriculum-nav">
                    <ul>
                        <li><span>学科介绍</span></li>
                        <li><span>就业薪资</span></li>
                        <li><span>教学大纲</span></li>
                        <li><span>师资力量</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 鸡汤 -->
        <div class="content-chicken-soup">
            <div class="chicken-soup banxin">
                <div class="circle-outside">
                    <div class="circle2">
                        <div class="chicken-soup-text">
                            <h2>观念影响选择 选择影响行动</h2>
                            <h3>而行动最终会改变命运</h3>
                            <ul>
                                <li><span>命运是可以改变的</span></li>
                                <li><span>科技互通 万物互联时代，给了我们机遇</span></li>
                                <li><span>当青春响应时代的呼唤，一切皆有可能</span></li>
                                <li><span>拥抱技术，并为之努力</span></li>
                                <li><span>在你人生的转折时刻</span></li>
                                <li><span>我们在此，助力你</span></li>
                                <li><span>插上飞翔的翅膀</span></li>
                            </ul>
                            <p>有梦想的心，演绎无畏的梦；无畏的心，化成惊涛拍岸的浪</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学校新闻 -->
        <div class="content-news">
            <div class="school-news banxin">
                <!-- 校园新闻标题 -->
                <div class="school-news-title">
                    <div class="title-text">
                        <h2>校园新闻</h2>
                        <p>SCHOOL&nbsp;NEWS</p>
                    </div>
                </div>
                <!-- 校园新闻内容 -->
                <div class="school-news-content">
                    <!-- 左边新闻列表部分 -->
                    <div class="school-news-left">
                        <div class="new-data">
                            <div class="box"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </div>
                        <div class="new-data">
                            <div class="box"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </div>
                        <div class="new-data">
                            <div class="box"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 右边图片部分 -->
                    <div class="school-news-photo">

                    </div>
                </div>
            </div>
        </div>
        <!-- 学校风采 -->
        <div class="content-theSchool">
            <div class="theSchool banxin">
                <div class="theSchool-title">
                    <div class="theSchool-title-text">
                        <div class="theSchool-titile-top">
                            <h2>学校风采</h2>
                            <p>THE&nbsp;SCHOOL</p>
                        </div>
                        <div class="theSchool-title-bottom">
                            璞思教育坐落在莆田市城厢区，是本市首屈一指的互联网前沿科技，基础应用教育基优秀的教学师资，一流的教学设施，大量的实操课程，是您选择璞思的四大理由。
                        </div>
                    </div>
                </div>
                <div class="theSchool-content">
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>优美的教学坏境</p>
                    </div>
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>一流的设备</p>
                    </div>
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>师资雄厚</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 璞思大家庭 -->
        <div class="content-pusi-familiar">
            <div class="pusi-familiar banxin">
                <div class="pusi-familiar-title">
                    <div class="title-text">
                        <h2>璞思大家庭</h2>
                        <p>PUSI&nbsp;FAMILIAR</p>
                    </div>
                </div>
                <div class="pusi-family-swiper">

                </div>
            </div>
        </div>
        <!-- 报名流程 -->
        <div class="content-registration-process">
            <div class="registration-process banxin">
                <div class="registration-process-title">
                    <div class="title-text">
                        <h2>报名流程</h2>
                        <p>REGISTRATION&nbsp;PROCESS</p>
                    </div>
                </div>
                <div class="registration-process-form">
                    <div class="form-left">
                        <div class="form-left-start">
                            <p>Creative Landing Page Template</p>
                            <h2>让我们开始吧</h2>
                        </div>
                        <h3>查看更多</h3>
                    </div>
                    <div class="point-to">
                        <img src="../images/jiantou.jpg" alt="">
                    </div>
                    <div class="form-right">
                        <form action="">
                            <div class="form-title">报名</div>
                            <div class="get-user-name">
                                <input type="text" placeholder="姓名" name="userName">
                            </div>
                            <div class="get-user-phone">
                                <input type="text" placeholder="电话号码" name="userPhone">
                            </div>
                            <div class="get-subject">
                                <input type="text" placeholder="所报学科" name="subject">
                            </div>
                            <div class="get-qq-num">
                                <input type="text" placeholder="QQ号码" name="qqNum">
                            </div>
                            <div class="confirm">
                                <span>准确真实的填写你的个人信息&nbsp;即可获得免费试听课程,招生老师会及时与你取得联系</span>
                                <button>确认报名</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 关于我们 -->
        <div class="content-abount-us">
            <div class="abount-us banxin">
                <div class="abount-us-title">
                    <div class="title-text">
                        <h2>关于我们</h2>
                        <p>ABOUNT&nbsp;US</p>
                    </div>
                </div>
                <div class="about-us-swiper">
                    <div class="my-swiper">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <div class="footer"></div>
</body>

</html>