<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 该页面样式 -->
    <link rel="stylesheet" href="../css/pageCss/index.css">
    <!-- 轮播图 -->
    <link rel="stylesheet" href="../css/swiper.min.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <iframe id='head' src="./head.html" frameborder="0" height="97px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <iframe id='content-iframe' height='1180px' src="./content.html" frameborder="0" width="100%" frameborder='0'
            marginheight="0px" scrolling='no' style="display:block;"></iframe>
        <!-- 课程 -->
        <div class="content-curriculum">
            <div class="curriculum banxin">
                <div class="curriculum-introduce ">
                    <div class="curriculum-java">
                        <div class="java-title">
                            <h2>JAVA</h2>
                            <p>面向对象编程语言</p>
                        </div>
                        <div class="java-content">
                            <span>
                                在多次调研企业最新应用技术及知识点的基础上，对技术点进行了100+项的增加与优化JDK升级为1.8版本，加入Lambda表达式及其它新特性的讲解引入spring全家桶
                            </span>
                        </div>
                        <p>01</p>
                    </div>
                    <div class="curriculum-java curriculum-UI">
                        <div class="java-title">
                            <h2>UI</h2>
                            <p>打造月薪过万的UI设计师</p>
                        </div>
                        <div class="java-content">
                            <span>
                                全新升级全链路ui3.0，五步缔造顶尖UI设计师，更符合企业对人才的实际需求，顺应互联网时代趋势，综合用户的需求和业务目标
                            </span>
                        </div>
                        <p>02</p>
                    </div>
                    <div class="curriculum-java curriculum-WEB">
                        <div class="java-title">
                            <h2>WEB</h2>
                            <p>前端改变世界</p>
                        </div>
                        <div class="java-content">
                            <span>
                                课程设计之初就对目前企业中最流行的技术及知识点讲过多次调研，整套课程设计完成后，又进一步对课程中的技术点进行了100+项的增加与优化
                            </span>
                        </div>
                        <p>03</p>
                    </div>
                </div>
                <div class="curriculum-nav">
                    <ul>
                        <li><span>学科介绍</span></li>
                        <li><span>就业薪资</span></li>
                        <li><span>教学大纲</span></li>
                        <li><span>师资力量</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 鸡汤 -->
        <div class="content-chicken-soup">
            <div class="chicken-soup banxin">
                <div class="circle-outside">
                    <div class="circle2">
                        <div class="chicken-soup-text">
                            <h2>观念影响选择&nbsp;选择影响行动</h2>
                            <h3>而行动最终会改变命运</h3>
                            <ul>
                                <li><span>命运是可以改变的</span></li>
                                <li><span>科技互通 万物互联时代，给了我们机遇</span></li>
                                <li><span>当青春响应时代的呼唤，一切皆有可能</span></li>
                                <li><span>拥抱技术，并为之努力</span></li>
                                <li><span>在你人生的转折时刻</span></li>
                                <li><span>我们在此，助力你</span></li>
                                <li><span>插上飞翔的翅膀</span></li>
                            </ul>
                            <p>有梦想的心，演绎无畏的梦；无畏的心，化成惊涛拍岸的浪</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学校新闻 -->
        <div class="content-news">
            <div class="school-news banxin">
                <!-- 校园新闻标题 -->
                <div class="school-news-title">
                    <div class="title-text">
                        <h2>校园新闻</h2>
                        <p>SCHOOL&nbsp;NEWS</p>
                    </div>
                </div>
                <!-- 校园新闻内容 -->
                <div class="school-news-content">
                    <!-- 左边新闻列表部分 -->
                    <div class="school-news-left">
                        <a href="#" class="new-data">
                            <div class="new-data-photo"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="new-data">
                            <div class="new-data-photo"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="new-data">
                            <div class="new-data-photo"></div>
                            <div class="news-data-text">
                                <div class="news-text-left">
                                    <h2>我们为什么选择java?</h2>
                                    <p>大多数人选择java可能只是因为听说过java前景</p>
                                </div>
                                <div class="new-time">
                                    <span>2019/8/15</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 右边图片部分 -->
                    <div class="school-news-photo">
                        <div class="news-photo">
                            <img src="../images/school.jpg" alt="">
                        </div>
                        <p>我们为什么选择JAVA?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 学校风采 -->
        <div class="content-theSchool">
            <div class="theSchool banxin">
                <!-- 标题 -->
                <div class="theSchool-title">
                    <div class="theSchool-title-text">
                        <div class="theSchool-titile-top">
                            <h2>学校风采</h2>
                            <p>THE&nbsp;SCHOOL</p>
                        </div>
                        <div class="theSchool-title-bottom">
                            璞思教育坐落在莆田市城厢区，是本市首屈一指的互联网前沿科技，基础应用教育基优秀的教学师资，一流的教学设施，大量的实操课程，是您选择璞思的四大理由。
                        </div>
                    </div>
                </div>
                <!-- 内容 -->
                <div class="theSchool-content">
                    <!-- 图片 -->
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>优美的教学坏境</p>
                    </div>
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>一流的设备</p>
                    </div>
                    <div class="theSchool-content-photo">
                        <div class="box2"></div>
                        <p>师资雄厚</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 璞思大家庭 -->
        <div class="content-pusi-familiar">
            <div class="pusi-familiar banxin">
                <div class="pusi-familiar-title">
                    <div class="title-text">
                        <h2>璞思大家庭</h2>
                        <p>PUSI&nbsp;FAMILIAR</p>
                    </div>
                </div>
                <!-- 璞思大家庭轮播图 -->
                <div class="pusi-family-swiper">
                    <div class="swiper-container" id="familiarSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiperList">
                                <img src="../images/abount03.jpg" alt="轮播图">
                            </div>
                            <div class="swiper-slide">
                                <img src="../images/abount01.jpg" alt="轮播图">
                            </div>
                            <div class="swiper-slide">
                                <img src="../images/abount04.jpg" alt="轮播图">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 报名流程 -->
        <div class="content-registration-process">
            <div class="registration-process banxin">
                <!-- 标题 -->
                <div class="registration-process-title">
                    <div class="title-text">
                        <h2>报名流程</h2>
                        <p>REGISTRATION&nbsp;PROCESS</p>
                    </div>
                </div>
                <div class="registration-process-form">
                    <!-- 内容左边文字部分 -->
                    <div class="form-left">
                        <div class="form-left-start">
                            <p>Creative Landing Page Template</p>
                            <h2>让我们开始吧</h2>
                        </div>
                        <h3>查看更多</h3>
                    </div>
                    <!-- 中间箭头 -->
                    <div class="point-to">
                        <span></span>
                        <!-- <img src="../images/jiantou.jpg" alt=""> -->
                    </div>
                    <!-- 右边表单 -->
                    <div class="form-right">
                        <div class="form-title">
                            <h2>报名</h2>
                        </div>
                        <form id='formId' action="" name="userMessage">
                            <div class="get-user-message">
                                <span>
                                    <img src="../images/username.png" alt="">
                                </span>
                                <input type="text" placeholder="姓名" name="userName">
                            </div>
                            <div class="get-user-message">
                                <span>
                                    <img src="../images/dianhua.png" alt="">
                                </span>
                                <input type="text" placeholder="电话号码" name="userPhone">
                            </div>
                            <div class="get-user-message get-subject">
                                <span>
                                    <img src="../images/suobaoxueke.png" alt="">
                                </span>
                                <p class="subjectValue">所报学科</p>
                                <span class="openSelect"></span>
                                <ul class="subject-select">
                                    <li><span>JAVA</span></li>
                                    <li><span>UI</span></li>
                                    <li><span>WEB</span></li>
                                </ul>
                            </div>
                            <div class="get-user-message">
                                <span class="qq-number">

                                </span>
                                <input type="text" placeholder="QQ号码" name="qqNum">
                            </div>
                            <div class="confirm">
                                <span>准确真实的填写你的个人信息&nbsp;即可获得免费试听课程,招生老师会及时与你取得联系</span>
                                <button class="confirm-apply userMessageBtn" form="userMessage"
                                    type="submit">确认报名</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 关于我们 -->
        <div class="content-abount-us">
            <div class="abount-us banxin">
                <!-- 标题 -->
                <div class="abount-us-title">
                    <div class="title-text">
                        <h2>关于我们</h2>
                        <p>ABOUNT&nbsp;US</p>
                    </div>
                </div>
                <!-- 轮播图 -->
                <div class="swiper-container" id="certify">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/abount03.jpg" alt="轮播图">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abount01.jpg" alt="轮播图">
                        </div>
                        <div class="swiper-slide">

                            <video src=" " controls="controls"></video>
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abount02.jpg" alt="轮播图">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/abount04.jpg" alt="轮播图">
                        </div>
                    </div>
                </div>
                <!-- <div class="swiper-pagination banner_page"></div> -->
            </div>
        </div>
    </div>
    <!-- 底部位置，招生热线，二维码 -->
    <iframe src="./foot.html" id='foot' frameborder="0" height="490px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="go-top"></div>
    <!-- <div class="link-up">
        <span class="linkClose"></span>
        <ul>
            <li>
                <ul class="recruit-student ">
                    <li>
                        <h2>招生部</h2>
                    </li>
                    <li>
                        <a href="tencent://message/?uin=2873780756" title="QQ咨询">
                            <img src="http://wpa.qq.com/pa?p=2:2873780756:52" />
                            QQ咨询
                        </a>
                    </li>
                    <li>
                        <p><span>电话：</span>4001581881</p>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="recruit-student">
                    <li>
                        <h2>璞思学习中心</h2>
                    </li>
                    <li>
                        <a href="tencent://message/?uin=2873780756" title="QQ咨询">
                            <img src="http://wpa.qq.com/pa?p=2:2873780756:52" />
                            QQ咨询
                        </a>
                    </li>
                    <li>
                        <p><span>电话：</span>18020608313</p>
                    </li>
                </ul>
            </li>
            <li>
                <div class="email">
                    <span></span>
                    <ul>
                        <li>留言信箱</li>
                        <li>2864140086@qq.com</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> -->
    <!-- 右边联系面板 -->
    <div class="link-up">
        <span class="linkClose">联系我们<i></i></span>
        <ul>
            <li>
                <ul class="recruit-student ">
                    <li>
                        <h2>招生部：</h2>
                    </li>
                    <li>
                        <a href="tencent://message/?uin=3536862935" title="QQ咨询">
                            <img src="http://wpa.qq.com/pa?p=2:3536862935:52" />
                            QQ咨询
                        </a>
                    </li>
                    <li>
                        <p><span>电话：</span>1234-567894</p>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="recruit-student">
                    <li>
                        <h2>璞思学习中心：</h2>
                    </li>
                    <li>
                        <a href="tencent://message/?uin=2864147673" title="QQ咨询">
                            <img src="http://wpa.qq.com/pa?p=2:2864147673:52" />
                            QQ咨询
                        </a>
                    </li>
                    <li>
                        <p><span>电话：</span>1234-567894</p>
                    </li>
                </ul>
            </li>
            <li>
                <div class="email">
                    <span>邮箱</span>
                    <ul>
                        <li>留言信箱</li>
                        <li>3536862935@qq.com</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- 左下角留言面板 -->
    <div class="left-bottom-form">
        <div class="left-bottom-form-title" >
            <h2>请您留言</h2>
            <span></span>
        </div>
        <div class="company">
            <p>璞思教育有限公司</p>
            <span>1234-7894561</span>
        </div>
        <form>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <input type="text" placeholder="姓名">
            <input type="text" placeholder="电话">
            <input type="text" placeholder="邮箱">
        </form>
    </div>
</body>
<!-- 轮播图插件 -->
<script src="../js/swiper.min.js"></script>
<!-- jq -->
<script src="../js/jquery.js"></script>
<!-- 公共js -->
<script src="../js/common.js"></script>
<!-- 该页面 -->
<script src="../js/pageJs/index.js"></script>

</html>