<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程介绍</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/javaOutLine.css">
</head>
<body>
    <!-- 头部logo，导航，联系电话 -->
    <header class="header">
        <div class="header-content banxin">
            <h1 class="header-logo">
                <a href="./index.html">
                    <img src="../images/logo.jpg" alt="">
                </a>
            </h1>
            <div class="head-nav">
                <ul>
                    <li><a class="btn" href="./index.html">首页</a></li>
                    <li><a class="btn" href="./javaOutLine.html">课程介绍</a></li>
                    <li><a class="btn" href="./news.html">校园新闻</a></li>
                    <li><a class="btn" href="#">师资力量</a></li>
                    <li><a class="btn" href="./environment.html">学校风采</a></li>
                    <li><a class="btn" href="./forecastName.html">报名流程</a></li>
                    <li><a class="btn" href="./abounUs.html">关于我们</a></li>
                </ul>
            </div>
            <div class="header-call">
                <p>教育热线</p>
                <h2>400-1581-881</h2>
            </div>
        </div>
    </header>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <h2>璞思学院</h2>
                    <p><span>传道受业</span>德行天下</p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <p class="zero"><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                    <h2>JavaEE</h2>
                    <p class="advantage"><span>4</span>大课程优势</p>
                    <h3>让你成为中高端人才</h3>
                    <p>MAKE&nbsp;YOU&nbsp;A&nbsp;MID-TO-HIGH-END&nbsp;TALENT</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <ul class="ui-design">
                    <li>
                        <h3>全链路UI3.0,分阶段学习，因材施教</h3>
                    </li>
                    <li>
                        <h2>5步缔造顶尖UI设计师</h2>
                    </li>
                    <li>
                        <h4>突破职场瓶颈，&nbsp;&nbsp;升职加薪不是梦</h4>
                    </li>
                    <li><span>先培训后就业&nbsp;&nbsp;&nbsp;&nbsp;进入名企拿高薪</span></li>
                    <li>
                        <ul>
                            <li>多元化服务</li>
                            <li>一对一辅导</li>
                            <li>小班授课</li>
                            <li>总监级到时倾心相授</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- java课程介绍 -->
        <div class="content-java">
            <div class="java-introduce">
                <div class="java-left">
                    <div class="left-title">
                        <h2>课程介绍</h2>
                        <h2>JAVA课程设计理念</h2>
                    </div>
                    <ul>
                        <li>COUPSE&nbsp;INTRODUCTION</li>
                        <li>与时俱进</li>
                        <li>引领潮流</li>
                        <li>项目丰富</li>
                    </ul>
                </div>
                <div class="java-right">
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>与时俱进</h2>
                            <h4>在多次调研企业最新应用技术及知识点的基础上，对技术点进行了100+项的增加与优化，JDK升级为1.8版本</h4>
                            <ul>
                                <li>加入Lambda表达式及其他新特性的讲解，引入spring全家桶(spring boot /spring data/spring cloud等)</li>
                                <li>为了让我们的学员在就业市场上更具有竞争力，重点讲解了更多
                                    的企业主流技术框架如Spring、Mybatis、SpringMvc、Struts2、
                                    Spring、Hibernate等
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>引领潮流</h2>
                            <h4>JavaEE在十多年的Java培训中一直引领技术变革我们一直以来都以最新最好的课程面向学生，本套课程加入了大量前沿领先的技术点</h4>
                            <ul>
                                <li>SpringBoot微服务架构、MQ消息队列、Elasticsearch
                                    全文搜索、 OAuth协议第三方认证、JWT令牌校验用户
                                    权限、MongoDB框架、 Redis高级特性、 即时通讯、
                                    接口加密、 Netty实现消息通知、项目优化等。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>项目丰富</h2>
                            <h4>
                                课程的目标是让学生灵活运用所学知识进行企业项目开发项目
                                选材是从真实的企业项目中提取
                            </h4>
                            <ul>
                                <li>
                                    学习Java语言的面向对象程序设计思想和实际应用技术，理解Java
                                    技术的编程理念，掌握使用Java语言的编程方法，具备 Java 开发
                                    技术；
                                </li>
                                <li>
                                    企业级真实项目案例实战学习。通过手把手教你完成阶段性以及综
                                    合性项目案例实践，增加项目经验，做到熟练运用面向对象程序设
                                    计的编程思想开发程序。
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>解决方案式教学</h2>
                            <h4>
                                课程的目标是让学生灵活运用所学知识进行企业项目开发项目
                                选材是从真实的企业项目中提取
                            </h4>
                            <ul>
                                <li>
                                    项目中阶段引入多达40+的解决方案、让学员能够快速
                                    运用企业主流解决方案来解决企业实际场景问题
                                </li>
                                <li>
                                    企业级微服务全套解决方案、报表方案、通用权限管理方案、
                                    支付系统方案、分布式事务解决方案、并发多级缓存方案、
                                    秒杀系统方案、及时通讯方案、分布式文件存储方案等
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 课程大纲 -->
        <div class="outline">
            <div class="coures-outline banxin">
                <div class="outline-title">
                    <h2>JAVA课程大纲</h2>
                    <p>COURES&nbsp;OUTLINE</p>
                </div>
                <div class="outline-bottom">
                    <div class="outline-content">
                        <h2>项目丰富</h2>
                        <ul>
                            <li>0基础0经验的小白人员</li>
                            <li>想通过最低的成本来试一下自己</li>
                            <li>是否适合做Java编程以及UI设计师</li>
                            <li>相关工作的转型人员</li>
                            <li>纯面授，严格的教学管理制度</li>
                        </ul>
                    </div>
                    <div class="outline-content">
                        <h2>教学模式</h2>
                        <ul>
                            <li>灵活的教学时间制度</li>
                            <li>周一到周五脱产班，周末班！</li>
                            <li>小班教学，每个班不超过３０名学员，</li>
                            <li>每个教学班配备一位导师</li>
                            <li>一位助教，一位班主任</li>
                        </ul>
                    </div>
                    <div class="outline-content">
                        <h2>培训时间</h2>
                        <ul>
                            <li>校区可能会根据实际情况有所调整</li>
                            <li>详情可询咨询老师</li>
                            <li>三位一体的指导服务</li>
                            <li>相关工作的转型人员</li>
                            <li>为每一位学子的学习保驾护航</li>
                        </ul>
                    </div>
                </div>
                <div class="case-presentation-title">
                    <h2>案例展示</h2>
                    <p>CASE&nbsp;PRESENTATION</p>
                </div>
            </div>
        </div>
        <!-- 案例展示 -->
        <!-- 骠骑 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <div class="case-logo">
                                <img src="../images/biaoqilogo.png" alt="">
                            </div>
                            <h2>骠骑APP</h2>
                            <h3>专注于大动力摩托车智能服务平台</h3>
                        </div>
                        <div class="case-text">
                            骠骑是一个为广大摩托车爱好者创造的社区APP。提供
                            高端摩托车租赁、提供骑行数据分享、骑行中及时救援
                            风景动态记录、多维度用户社交等
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="biukier">
                            <img src="../images/biaoqi.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 喵海购 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <div class="case-logo">
                                <img src="../images/miaohaigoulogo.png" alt="">
                            </div>
                            <h2>喵海购</h2>
                            <h3>进口电商企业跨境电商</h3>
                        </div>
                        <div class="case-text">
                            喵海购是一家专注正品与服务的进口电商企业经营的产品包括进口母婴美妆、食品、保健品等负责海外产品供应商的洽谈合作与货源采购保证入驻产品均为海外一线产品
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="miaoshop">
                            <img src="../images/miaohaigou02.png" alt="">
                            <img src="../images/miaohaigou.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 城厢区 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <h2>商务信息服务平台</h2>
                            <h3>与城厢区商务局合作</h3>
                        </div>
                        <div class="case-text">
                            该商务信息服务平台是骠骑科技公司与城厢区商务局合作，定制开发的一款服务平台帮助政府部门在线收集、分析辖区第三产业的发展情况、管理企业安全生产和发布相关政策信息等内容的综合性商务管理平台，受益于该平台，政府和企业得以更科学、更高效地开展与第三产业企业的商务互通工作
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="chengXiang">
                            <img src="../images/chengxiangqu.png" alt="">
                            <!-- <img class="chengxiang-filter" src="../images/chengxiangqu02.png" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 智慧110 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <h2>智慧110一键报警系统</h2>
                            <h3>“网约车”式报警</h3>
                        </div>
                        <div class="case-text">
                            打破传统接报警机制，大胆尝试“网约车”式报警、抢单模式通过“智慧110”一键报警附近警力抢单接警，实现接处警的快速匹配及可视化运行，为报警人提供实时、公开、透明的接警过程体验，减少工作环节，提高工作效率提供在线、可视、互动式的接处警服务。群众利用手机快速准确定位，实现一键式报警，报警人可实时查看处警警力位置减轻等待的焦虑感，可与民警互动交流。同时，民警可有效减少因报警人位置、警情描述不准确而导致的延误或误解
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="miaoshop">
                            <img src="../images/zhihui110.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 油画城 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <h2>油画城油画估价管理平台</h2>
                            <h3>吸引更多的艺术创作在莆田油画城展卖</h3>
                        </div>
                        <div class="case-text">
                            此平台是以以莆田国际油画城为管理中心，以画家、商人为主要服务对象，以艺术作品为主导的油画城油画估价管理平台。平台可管理画家的个人账号信息、油画信息和展览情况等；管控油画的跌涨幅度查看油画城在世界各地的分布情况以及创意设计了开发平台画家们所上传作品的估价折线图平台借此能吸引流量，未来更多画家入驻平台、展示作品、估价自我创作。
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="miaoshop">
                            <img src="../images/youhuacheng.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 妈祖 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <h2>湄洲妈祖祖庙云系统平台</h2>
                            <h3>妈祖云系统平台</h3>
                        </div>
                        <div class="case-text">
                            妈祖云系统平台，负责建设妈祖云祖庙对外推广介绍窗口让人们更加了解妈祖的起源，平台提供基础信息、文化宣传栏、人事、信众、义工、祈福供奉管理，大数据统计分析等等。展现湄洲妈祖庙的历史和对世界各地华人们的深重意义，让信徒们能线上了解祭祀活动的开展，并为妈祖庙作出自己的贡献。
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情&gt;</a>
                        <div class="miaoshop">
                            <img src="../images/mazu.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部位置，招生热线，二维码 -->
    <footer class="foot">
        <div class="foot-content banxin">
            <div class="foot-map">
                <div id="map">

                </div>
            </div>
            <div class="foot-links">
                <h2>全国免费招生热线：400-1581-881</h2>
                <ul>
                    <li><span>客服手机：</span>18020608313</li>
                    <li><span>网址：</span> www.pusiuni.com</li>
                    <li><span>QQ：</span>737358703</li>
                    <li><span>邮箱：</span>pusi@miaohaigou.com</li>
                    <li><span>地址：</span>莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
                </ul>
            </div>
            <div class="foot-WeChat">
                <div class="code-left">
                    <p>关注公众账号</p>
                    <img src="../images/code1.jpg" alt="">
                </div>
                <div class="code-right">
                    <p>了解更多资讯</p>
                    <img src="../images/code2.jpg" alt="">
                </div>
            </div>
            <div class="go-top iconfont">&#xe668;</div>
        </div>
        <!-- 网站版权信息 -->
        <div class="copyright">
            <p>©&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN</p>
        </div>
    </footer>
</body>
<script src="../js/jquery.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=vdVIwdPkde2vN1I3SDrRH3Kfo6XnjgPk"></script>
<script src="../js/Map.js"></script>
</html>