<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/javaOutLine.css">
</head>
<script>
    $(function () {
        $(".head").load("/views/header.html");
        $(".footer").load("/views/footer.html");
    })
</script>

<body>
    <!-- 头部 -->
    <div class="head"></div>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <p>璞思学院</p>
                    <p><span>传道受业</span><span>德行天下</span></p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <p class="zero"><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                    <h2>JavaEE</h2>
                    <p class="advantage"><span>4</span>大课程优势</p>
                    <p>让你成为中高端人才</p>
                    <p>MAKE YOU A MID-TO-HIGH-END TALENT</p>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <div class="ui-design">
                    <p>全链路UI3.0,分阶段学习，因材施教</p>
                    <h2>5步缔造顶尖UI设计师</h2>
                    <p>突破职场瓶颈，升职加薪不是梦</p>
                    <p>先培训后就业 进入名企拿高薪</p>
                    <p>多元化服务 一对一辅导 小班授课 总监级到时倾心相授</p>
                </div>
            </div>
        </div>
        <!-- java课程介绍 -->
        <div class="content-java">
            <div class="java-introduce">
                <div class="java-left">
                    <div class="left-title">
                        <h2>课程介绍</h2>
                        <h2>JAVA课程设计理念</h2>
                    </div>
                    <ul>
                        <li>COUPSE&nbsp;INTRODUCTION</li>
                        <li>与时俱进</li>
                        <li>引领潮流</li>
                        <li>项目丰富</li>
                    </ul>
                </div>
                <div class="java-right">
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>与时俱进</h2>
                            <h4>在多次调研企业最新应用技术及知识点的基础上，对技术点进行了100+项的增加与优化，JDK升级为1.8版本</h4>
                            <ul>
                                <li>加入Lambda表达式及其他新特性的讲解，引入spring全家桶(spring boot /spring data/spring cloud等)</li>
                                <li>为了让我们的学员在就业市场上更具有竞争力，重点讲解了更多
                                    的企业主流技术框架如Spring、Mybatis、SpringMvc、Struts2、
                                    Spring、Hibernate等
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>引领潮流</h2>
                            <h4>JavaEE在十多年的Java培训中一直引领技术变革我们一直以来都以最新最好的课程面向学生，本套课程加入了大量前沿领先的技术点</h4>
                            <ul>
                                <li>SpringBoot微服务架构、MQ消息队列、Elasticsearch
                                    全文搜索、 OAuth协议第三方认证、JWT令牌校验用户
                                    权限、MongoDB框架、 Redis高级特性、 即时通讯、
                                    接口加密、 Netty实现消息通知、项目优化等。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>项目丰富</h2>
                            <h4>
                                课程的目标是让学生灵活运用所学知识进行企业项目开发项目
                                选材是从真实的企业项目中提取
                            </h4>
                            <ul>
                                <li>
                                    学习Java语言的面向对象程序设计思想和实际应用技术，理解Java
                                    技术的编程理念，掌握使用Java语言的编程方法，具备 Java 开发
                                    技术；
                                </li>
                                <li>
                                    企业级真实项目案例实战学习。通过手把手教你完成阶段性以及综
                                    合性项目案例实践，增加项目经验，做到熟练运用面向对象程序设
                                    计的编程思想开发程序。
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="right-content-text">
                            <h2>解决方案式教学</h2>
                            <h4>
                                课程的目标是让学生灵活运用所学知识进行企业项目开发项目
                                选材是从真实的企业项目中提取
                            </h4>
                            <ul>
                                <li>
                                    项目中阶段引入多达40+的解决方案、让学员能够快速
                                    运用企业主流解决方案来解决企业实际场景问题
                                </li>
                                <li>
                                    企业级微服务全套解决方案、报表方案、通用权限管理方案、
                                    支付系统方案、分布式事务解决方案、并发多级缓存方案、
                                    秒杀系统方案、及时通讯方案、分布式文件存储方案等
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 课程大纲 -->
        <div class="outline">
            <div class="coures-outline banxin">
                <div class="outline-title">
                    <h2>JAVA课程大纲</h2>
                    <p>COURES&nbsp;OUTLINE</p>
                </div>
                <div class="outline-bottom">
                    <div class="outline-content">
                        <h2>项目丰富</h2>
                        <ul>
                            <li>0基础0经验的小白人员</li>
                            <li>想通过最低的成本来试一下自己</li>
                            <li>是否适合做Java编程以及UI设计师</li>
                            <li>相关工作的转型人员</li>
                            <li>纯面授，严格的教学管理制度</li>
                        </ul>
                    </div>
                    <div class="outline-content">
                        <h2>教学模式</h2>
                        <ul>
                            <li>灵活的教学时间制度</li>
                            <li>周一到周五脱产班，周末班！</li>
                            <li>小班教学，每个班不超过３０名学员，</li>
                            <li>每个教学班配备一位导师</li>
                            <li>一位助教，一位班主任</li>
                        </ul>
                    </div>
                    <div class="outline-content">
                        <h2>培训时间</h2>
                        <ul>
                            <li>校区可能会根据实际情况有所调整</li>
                            <li>详情可询咨询老师</li>
                            <li>三位一体的指导服务</li>
                            <li>相关工作的转型人员</li>
                            <li>为每一位学子的学习保驾护航</li>
                        </ul>
                    </div>
                </div>
                <div class="case-presentation-title">
                    <h2>案例展示</h2>
                    <p>CASE&nbsp;PRESENTATION</p>
                </div>
            </div>
        </div>
        <!-- 案例展示 -->
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <div class="case-logo"></div>
                            <h2>骠骑APP</h2>
                            <h3>专注于大动力摩托车智能服务平台</h3>
                        </div>
                        <div class="case-text">
                            骠骑是一个为广大摩托车爱好者创造的社区APP。提供
                            高端摩托车租赁、提供骑行数据分享、骑行中及时救援
                            风景动态记录、多维度用户社交等
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <a href="#">查看详情</a>
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <div class="case-logo"></div>
                            <h2>骠骑APP</h2>
                            <h3>专注于大动力摩托车智能服务平台</h3>
                        </div>
                        <div class="case-text">
                            骠骑是一个为广大摩托车爱好者创造的社区APP。提供
                            高端摩托车租赁、提供骑行数据分享、骑行中及时救援
                            风景动态记录、多维度用户社交等
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case">
            <div class="case-presentation banxin">
                <div class="case-presentation-bottom">
                    <!-- 左边案例介绍 -->
                    <div class="case-left">
                        <div class="case-app-name">
                            <div class="case-logo"></div>
                            <h2>骠骑APP</h2>
                            <h3>专注于大动力摩托车智能服务平台</h3>
                        </div>
                        <div class="case-text">
                            骠骑是一个为广大摩托车爱好者创造的社区APP。提供
                            高端摩托车租赁、提供骑行数据分享、骑行中及时救援
                            风景动态记录、多维度用户社交等
                        </div>
                    </div>
                    <!-- 右边图片展示 -->
                    <div class="case-right">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部位置，招生热线，二维码 -->
    <div class="footer"></div>
</body>

</html>