<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校园新闻</title>
    <!-- 标签默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 页面公共部分样式 -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- 该页面 -->
    <link rel="stylesheet" href="../css/news.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <header class="header">
        <div class="header-content banxin">
            <h1 class="header-logo">
                <a href="./index.html">
                    <img src="../images/logo.jpg" alt="">
                </a>
            </h1>
            <div class="header-nav">
                <ul>
                    <li><a class="btn" href="./index.html">首页</a></li>
                    <li><a class="btn" href="./introduce.html">课程介绍</a></li>
                    <li><a class="btn" href="./news.html">校园新闻</a></li>
                    <li><a class="btn" href="#">师资力量</a></li>
                    <li><a class="btn" href="./environment.html">学校风采</a></li>
                    <li><a class="btn" href="./applyCourse.html">报名流程</a></li>
                    <li><a class="btn" href="./aboutPusi.html">关于我们</a></li>
                </ul>
            </div>
            <div class="header-call">
                <p>教育热线</p>
                <h2>400-1581-881</h2>
            </div>
        </div>
    </header>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <div class="content-school">
            <div class="school banxin">
                <div class="school-text">
                    <h2>璞思学院</h2>
                    <p><span>传道受业</span>德行天下</p>
                </div>
            </div>
        </div>
        <!-- javaEE课程优势 -->
        <div class="content-javaEE">
            <div class="school banxin">
                <div class="javaEE-explain">
                    <ul>
                        <li><span>没有基础</span>没有经验如何在职场上脱颖而出</li>
                        <li>
                            <h2>JavaEE</h2>
                        </li>
                        <li>
                            <h3><span>4</span>大课程优势</h3>
                        </li>
                        <li>
                            <h4>让你成为中高端人才</h4>
                        </li>
                        <li>MAKE&nbsp;YOU&nbsp;A&nbsp;MID-TO-HIGH-END&nbsp;TALENT</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ul设计介绍 -->
        <div class="content-ui">
            <div class="school banxin">
                <ul class="ui-design">
                    <li>
                        <h3>全链路UI3.0，&nbsp;分阶段学习，&nbsp;因材施教</h3>
                    </li>
                    <li>
                        <h2>5步缔造顶尖UI设计师</h2>
                    </li>
                    <li>
                        <h4>突破职场瓶颈，&nbsp;&nbsp;升职加薪不是梦</h4>
                    </li>
                    <li><span>先培训后就业&nbsp;&nbsp;&nbsp;&nbsp;进入名企拿高薪</span></li>
                    <li>
                        <ul>
                            <li>多元化服务</li>
                            <li>一对一辅导</li>
                            <li>小班授课</li>
                            <li>总监级到时倾心相授</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 新闻动态 -->
        <div class="dynamic-news">
            <div class="news banxin">
                <div class="news-title">
                    <div class="news-title-content">
                        <div class="news-title-left">
                            <h2>新闻动态</h2>
                            <p>DYNAMC&nbsp;NEWS</p>
                        </div>
                        <div class="news-title-nav">
                            <div class="title-nav newsNavActive">
                                行业新闻
                            </div>
                            <div class="title-nav">
                                校园动态
                            </div>
                            <div class="title-nav">
                                校园趣事
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 新闻列表 -->
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <footer class="footer">
        <div class="footer-content banxin">
            <div class="footer-map">
                <div id="map">

                </div>
            </div>
            <div class="footer-links">
                <h2>全国免费招生热线：400-1581-881</h2>
                <ul>
                    <li><span>客服手机：</span>18020608313</li>
                    <li><span>网址：</span> www.pusiuni.com</li>
                    <li><span>QQ：</span>737358703</li>
                    <li><span>邮箱：</span>pusi@miaohaigou.com</li>
                    <li><span>地址：</span>莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
                </ul>
            </div>
            <div class="footer-WeChat">
                <div class="code-left">
                    <p>关注公众账号</p>
                    <img src="../images/code1.jpg" alt="">
                </div>
                <div class="code-right">
                    <p>了解更多资讯</p>
                    <img src="../images/code2.jpg" alt="">
                </div>
            </div>
            <div class="go-top"></div>
        </div>
        <!-- 网站版权信息 -->
        <div class="copyright">
            <p>&copy;&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN</p>
        </div>
    </footer>
</body>
<script src="../js/jquery.js"></script>
<script type="text/javascript"
    src="http://api.map.baidu.com/getscript?v=3.0&ak=vdVIwdPkde2vN1I3SDrRH3Kfo6XnjgPk"></script>
<script src="../js/common.js"></script>
<script src="../js/pageJs/news.js"></script>

</html>