<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校园新闻</title>
    <!-- 标签默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 该页面 -->
    <link rel="stylesheet" href="../css/pageCss/news.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <iframe id='head' src="./head.html" frameborder="0" height="97px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <iframe id='content-iframe' height='1180px' src="./content.html" frameborder="0" width="100%" frameborder='0'
            marginheight="0px" scrolling='no' style="display:block;"></iframe>
        <!-- 新闻动态 -->
        <div class="dynamic-news">
            <div class="news banxin">
                <div class="news-title">
                    <div class="news-title-content">
                        <div class="news-title-left">
                            <h2>新闻动态</h2>
                            <p>DYNAMC&nbsp;NEWS</p>
                        </div>
                        <div class="news-title-nav">
                            <div class="title-nav newsNavActive">
                                行业新闻
                            </div>
                            <div class="title-nav">
                                校园动态
                            </div>
                            <div class="title-nav">
                                校园趣事
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 新闻列表 -->
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>2019</span>
                                    <span>10</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="../views/article.html" class="news-list-content">
                        <div class="list-time">
                            <div class="list-time-icon">
                                <img src="../images/rili.png" alt="">
                            </div>
                            <div class="list-time-date">
                                <h2>15</h2>
                                <div class="date-year">
                                    <span>OTC</span>
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-right">
                            <h2>我们为什么选择Java</h2>
                            <div class="list-right-text">
                                大多数人选择Java可能只是因为听说Java前景好、Java比较好找工作、Java语言在TIOBE排行榜上
                                一直位于前三等等之类的原因，但是Java具体好在哪里，心里却是没有什么概念的。其实我选择Java
                                也是出于以上的原因，但是现在确实真正地爱上了Java。
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部位置，招生热线，二维码 -->
    <iframe src="./foot.html" id='foot' frameborder="0" height="490px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="go-top"></div>
</body>
<script src="../js/jquery.js"></script>
<script type="text/javascript"
    src="http://api.map.baidu.com/getscript?v=3.0&ak=vdVIwdPkde2vN1I3SDrRH3Kfo6XnjgPk"></script>
<script src="../js/common.js"></script>
<script src="../js/pageJs/news.js"></script>

</html>