<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>师资力量</title>
    <!-- 标签默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 该页面样式 -->
    <link rel="stylesheet" href="../css/pageCss/teachers.css">
</head>

<body>
    <!-- 头部logo，导航，联系电话 -->
    <iframe id='head' src="./head.html" frameborder="0" height="97px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <!-- 璞思学院介绍 -->
    <div class="content">
        <iframe id='content-iframe' height='1180px' src="./content.html" frameborder="0" width="100%" frameborder='0'
            marginheight="0px" scrolling='no' style="display:block;"></iframe>
        <div class="content-teacher">
            <div class="teacher-text banxin">
                <h2>
                    具备<span>10</span>年以上“实战经验<br>＋教学经验”的总监级导师亲自授<br>课讲解，保障学员学习质量。
                </h2>
            </div>
        </div>

    </div>
    <!-- 底部位置，招生热线，二维码 -->
    <iframe src="./foot.html" id='foot' frameborder="0" height="490px" width="100%" frameborder='0' marginheight="0px"
        scrolling='no' style="display:block;"></iframe>
    <div class="go-top"></div>
</body>
<!-- jq -->
<script src="../js/jquery.js"></script>
<!-- 公共 -->
<script src="../js/common.js"></script>

</html>